# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit secrets & local config
.streamlit/secrets.toml

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary data and logs
*.log
*.db
